<div class="jumbotron text-center">
    <h1>Oooooops! <b>Error 404</b></h1>
    
    <br><br>
    <p><i class="far fa-frown"></i></p>

    <div class="col text-center btn-lg">
        {{#link-to 'index'}}<button class="btn btn-primary btn-lg btn-block">Regresar</button>{{/link-to}}
    </div>


</div>