<h1>Grupos</h1>

<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'grupos.index' tagName="li"}}<a href="">Lista Completa</a>{{/link-to}}
    {{#link-to 'grupos.new' tagName="li"}}<a href="">Añadir Grupo</a>{{/link-to}}
  </ul>
</div>

{{outlet}}