
<div >
    <div class="jumbo error404">
    {{#link-to "index"}}
    <img  width= "800px"
        src="https://media2.giphy.com/media/14uQ3cOFteDaU/source.gif" alt="404">

    {{/link-to}}
</div>
</div>
{{outlet}}