@import "bootstrap";
@import 'spinner';
@import "ember-power-select";

body {
    padding-top: 20px;
  }

  html {
    overflow-y: scroll;
  }
  
  .grupo-item {
    min-height: 150px;
  }

  i[class^="far fa-frown"] {
    font-size: 250px;
  }

  #bandas tr:hover {
    background-color: #e0ebeb;
  }
  
  #bandas th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkslategrey;
    color: white;
  }
  
  td.capitalize {
    text-transform: capitalize;
    
  }

