@import 'ember-paper';

.img-responsive{
    max-height: 100%;
    max-width: 100%;
}

.word-break{
    word-break:break-all;
}

.text-align-center{
    text-align: center;
}

.video-container{
    height: 500px;
}

.fullscreen-video > div{
    position: absolute;
    left: 0;
    right: 0;
    top: 64px;
    bottom: 0;
}

.twitch-video{
    height: 100%;
    width: 100%;
}

#twitch-embed > iframe {
    min-height: 500px;
    min-width: 889px;
  }
  
  .fullscreen-video > div {
    position: absolute;
    left: 0;
    right: 0;
    top: 64px;
    bottom: 0;
  }
  .pointer {
    cursor: pointer;
  }
a{
    text-decoration: none;
}

a:link{
    color:inherit;
}

a:visited{
    color:inherit;
}

a:hover{
    color:inherit;
}

a:active{
    color:inherit;
}

.error404{
    text-align: center;
    margin: auto;
}