<h1>Discos</h1>

<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'discos.index' tagName="li"}}<a href="">Lista Completa</a>{{/link-to}}
    {{#link-to 'discos.new' tagName="li"}}<a href="">Añadir Disco</a>{{/link-to}}
  </ul>
</div>

{{outlet}}