<h1>Bibliotecas</h1>

<div class="well">
    <ul class="nav nav-pills">
    {{#link-to 'libraries.index' tagName="li"}}<a href="">Lista completa</a>{{/link-to}}
    {{#link-to 'libraries.new' tagName="li"}}<a href="">Añadir nueva</a>{{/link-to}}
    </ul>
</div>
{{outlet}}
